<!DOCTYPE html>
<html>

  <head>
    <title>
     CMPE281 
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

	<script src="angularjs/home.js"></script>
  </head>

  <body ng-app="home" ng-controller="welcomePageCtrl" style="background: #F7F7F7">

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a style="padding: 0px 10px; margin-top: 2px" class="navbar-brand" href="javascript:void(0);"><img src="https://www.starbucks.com/static/images/favicon.ico" /></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" ng-model="store_location" value="Location"><span class="glyphicon glyphicon-map-marker" aria-hidden="true">&nbsp;</span> {{store_location}} <span class="caret"></span></a> <ul class="dropdown-menu">
                <li ng-click= "onStoreClick('Fremont')"><a href="">Fremont <span class="sr-only">(current)</span></a></li>
                 <li role="separator" class="divider"></li>
                <li ng-click= "onStoreClick('Sunnyvale')"><a href="">Sunnyvale</a></li>
                 <li role="separator" class="divider"></li>
                <li ng-click= "onStoreClick('San Jose')"><a href="">San Jose</a></li>
              </ul>
            </li>
          </ul>
      
          <ul class="nav navbar-nav navbar-right">
           	<li><a href="#myBag"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> My Bag</a></li>
          </ul>
          
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <div ng-view></div>

  </body>

</html>
