<div ng-controller ="orderCtrl">
	<h1>Order page</h1>
	<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Starbucks Order</legend>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="buttondropdown">Beverage</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="buttondropdown" name="buttondropdown" class="form-control" placeholder="Select Beverage" type="text" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Beverage
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Caffe Latte</a></li>
          <li><a href="#">Chai Latte</a></li>
          <li><a href="#">Capuccino</a></li>
          <li><a href="#">Mocha</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="qty">Quantity</label>  
  <div class="col-md-4">
  <input id="qty" name="qty" type="text" placeholder="enter quantity" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="milk">Milk</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="milk" name="milk" class="form-control" placeholder="select milk type" type="text" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Milk Type
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Whole Milk</a></li>
          <li><a href="#">Half and Half</a></li>
          <li><a href="#">Organic</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="size">Size</label>
  <div class="col-md-4">
    <div class="input-group">
      <input id="size" name="size" class="form-control" placeholder="select cup size" type="text" required="">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          size
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <li><a href="#">Small</a></li>
          <li><a href="#">Medium</a></li>
          <li><a href="#">Large</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="name">Name</label>  
  <div class="col-md-4">
  <input id="name" name="name" type="text" placeholder="enter your name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios (inline) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="mode">Order Mode</label>
  <div class="col-md-4"> 
    <label class="radio-inline" for="mode-0">
      <input type="radio" name="mode" id="mode-0" value="in" checked="checked">
      In Store
    </label> 
    <label class="radio-inline" for="mode-1">
      <input type="radio" name="mode" id="mode-1" value="out">
      Take Out
    </label>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="order"></label>
  <div class="col-md-4">
    <button id="order" name="order" class="btn btn-primary">Place Order</button>
  </div>
</div>

</fieldset>
</form>

</div>
