<div ng-controller ="orderCtrl">
  <h1>Order page</h1>
  <form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Starbucks Order</legend>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label">Beverage</label>
  <div class="col-md-4">
    <select ng-model = "orderItem.bevName">
          <option class="placeholder" selected disabled value="">Choose here</option>
          <option value = "Caffe Latte">Caffe Latte</option>
          <option value = "Chai Latte">Chai Latte</option>
          <option value = "Capuccino">Capuccino</option>
          <option value = "Mocha">Mocha</option>
    </select>
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="qty">Quantity</label>  
  <div class="col-md-4">
  <input id="qty" name="qty" type="text" placeholder="enter quantity" class="form-control input-md" required="" ng-model ="orderItem.qty" ng-init = "orderItem.qty = 0 ;" ng-click = "orderItem.qty = '';" >
    
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="milk">Milk</label>
  <div class="col-md-4">


    <select ng-model = "orderItem.milkType">
      <option class="placeholder" selected disabled value="">Choose here</option>
      <option value = "Whole Milk">Whole Milk</option>
      <option value = "Half and Half">Half and Half</option>
      <option value = "Organic">Organic</option>
    </select>
  </div>
</div>

<!-- Button Drop Down -->
<div class="form-group">
  <label class="col-md-4 control-label" for="size">Size</label>
  <div class="col-md-4">
     <select ng-model = "orderItem.cupSize">
      <option class="placeholder" selected disabled value="">Choose here</option>
      <option value = "Small">Small</option>
      <option value = "Medium">Medium</option>
      <option value = "Large">Large</option>
    </select>    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="order"></label>
  <div class="col-md-4">
    <button id="order" name="order" class="btn btn-primary" ng-click = "addToCart();">Add To Cart</button>
  </div>
</div>

</fieldset>
</form>

</div>