<div>
  <div class="panel panel-default" ng-repeat="item in $ctrl.items">
    <div class="panel-body"> Beverage - {{ item.name }}</div>
    <div class="panel-body"> Cup Size: {{ item.size }}</div>
    <div class="panel-body"> Milk Type: {{ item.milk }}</div>
    <div class="panel-body"> Quantity: {{ item.qty }}</div>
    <div class="panel-body"> <a href ng-click="$ctrl.removeItem($index)">Remove</a></div>
  </div>

  <div class="panel panel-default" ng-if="items.length !== 0">
    <form class="form-horizontal">
      <fieldset>
        <div class="form-group">
          <label class="col-md-4 control-label">Order Mode</label>
          <div class="col-md-4">
            <label class="radio-inline">
              <input type="radio" name="mode" value="in" checked="checked" ng-model="$ctrl.orderMode">
              In Store
            </label> 

            <label class="radio-inline">
              <input type="radio" name="mode" value="out" ng-model="$ctrl.orderMode">
              Take Out
            </label>
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Name</label>  
          <div class="col-md-4">
            <input name="name" type="text" class="form-control input-md" ng-model="$ctrl.customerName">
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4 control-label">Proceed to Order</label>
          <div class="col-md-4">
            <button name="order" class="btn btn-primary" ng-click="$ctrl.placeOrder()">Place Order</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="panel panel-default" ng-if="$ctrl.items.length === 0" class="animate-if">
    <label class="panel-body">There are no items in your bag!!!</label>
  </div>
</div>