<!-- <div>
  <h1>Orders</h1>
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-hover table-bordered">
        <thead>
          <tr class="active">
            <th>
              #
            </th>
            <th>
              Order Details
            </th>
            <th>
              Amount
            </th>
            <th>
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="active" ng-repeat-start="order in orders">
            <td>
              1
            </td>
            <td>
              {{orders.indexOf(order)}}
            </td>
            <td>
              <span>Name : {{order.items.name}} </span>
              <span>Quantity : {{order.items.qty}} </span>
              <span>Milk : {{order.items.milk}} </span>
              <span>Name : {{order.items.size}} </span>
            </td>
            <td>
              {{order.status}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div> -->

<h1>Orders</h1>